.home-page {
  background: linear-gradient(180deg, #7766C6 0%, #6145A4 31.77%, #4C3482 68.75%, #38265F 100%);
  .title {
    font-family: 'Montserrat';
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
  }
  .description{
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 25px;
    color: white;

  }
}
