.home {
  width: 100%;
  padding: 15px;
  .title {
    font-size: 24px;
    font-family: NOTO-SANS_ARMENIAN, sans-serif;
  }
  .content {
    display: flex;
    margin-left: 20px;
    .information-content {
      padding: 5px 15px;
      .name {
        font-size: 20px;
        margin-bottom: 5px;
        font-family: NOTO-SANS_ARMENIAN, sans-serif;
      }
      .info {
        font-family: NOTO-SANS_ARMENIAN, sans-serif;
        margin-bottom: 5px;
      }
      .button-content {
        margin-top: 20px;
        .button {
          background: #5BC852;
          color: white;
          border-radius: 10px;
          height: 40px;
          font-size: 15px;
          font-family: NOTO-SANS_ARMENIAN, sans-serif;
        }
      }
    }
  }
}
@media screen and (max-width: 481px) {
  .home {
    .title {
      font-size: 18px;
      margin-left: 10px;
    }
    .content {
      flex-direction: column;
      margin-left: 10px;
    }
  }
}